.inline{
    display: inline;
}
.profile{
    margin: 20px;
}
img{
    width:inherit;
    text-align: centre;
    margin-top: 50px;
}

h4.style2{
    margin-top: 50px;
    font-family: 'Great Vibes', cursive; 
    text-align: center;
    font-size: 36px;
    color: #000;
}
h4{
    font-family: 'Great Vibes', cursive; 
    text-align: center;
    font-size: 36px;
    color:#000;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}


div.col-md-3{
    text-align: center;
    margin-bottom: 20px;
}

span.badge{
    margin:5px;
}

div.cards{
    width: 100%;
}

div.cards.repocard{
    border: 1px solid #d8d4d4;
    border-radius: 5px;
    padding-bottom: 5px;
    margin-bottom: 15px;

}

@media only screen and (max-width: 348px) {
    div.card-header{
        height: 180px;
    }

} 

@media only screen and (max-width: 610px)and (min-width:348px) {
    div.card-header{
        height: 110px;
    }

} 